/** {
  border: solid;
  border-color: green;
}*/

body {
  width: 650px;
}

#outer-dropzone {
  height: 300px;
  /*width: 650px;*/
 /* background-color: #ccc;*/
  position: relative;
}

#inner-dropzone {
  /*display: inline-block;*/
  position: absolute;
  width: 0%;
 /* background-color: grey;*/
  margin-top: 12%;
  margin-left: 37%;


}

.block {
  display: block;
  position: absolute;
}
.inline {
  display: inline-block;
  position: relative;
}

.float-left {
  float: left;
  padding: 2%;
}

.dropzone {
/*  display: inline-block;
  position: relative;*/
  /*border: dashed 4px transparent;*/
  border-radius: 4px;
  /*margin: 10px auto 30px;*/
  padding: 10px;
  /*width: 100%;
  /*height: 15px;*/
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;

}

.drop-target {
  background-color: #29e;
  /*border-color: #fff;*/
  /*border-style: solid;*/
}

#wordtext{
 display: inline-block;
 position: relative;
 z-index: -1;
}

.drag-drop {

  display: inline-block;
  position: relative;
  min-width: 40px;
  /*padding: 2em 0.5em;*/
  font-size: 200%;
  color: #1A818C;

  /*color: white;*/
  /*background-color: #29e;*/
  /*border: solid 2px #fff;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  /*transition: background-color 0.3s;*/
}

.drag-drop.can-drop {
  /*color: #000;*/
  /*background-color: #4e4;*/
}

div {
  font-family: sans-serif;
  letter-spacing: 1.5px;

}
