#outer-dropzone {
  height: 100px;
  width: 800px;
}

#inner-dropzone {
  width: 0%;
}

.block {
  display: block;
  position: absolute;
}
.inline {
  display: inline-block;
  position: relative;
}

.float-left {
  float: left;
  padding: 2%;
}

.dropzone {
/*  display: inline-block;
  position: relative;*/
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  color: white;
  /*height: 15px;*/
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;

}

.drop-target {
  background-color: #29e;
  /*border-color: #fff;*/
  /*border-style: solid;*/
}

.drag-drop {

  display: inline-block;
  position: relative;
  min-width: 40px;
  /*padding: 2em 0.5em;*/
  font-size: 200%;
  color: blue;

  /*color: white;*/
  /*background-color: #29e;*/
  /*border: solid 2px #fff;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  /*transition: background-color 0.3s;*/
}

.drag-drop.can-drop {
  /*color: #000;*/
  /*background-color: #4e4;*/
}

div {
  font-family: sans-serif;
}

